body{
    font-family: Arial, serif;
    font-size: 20px;
}

.left{
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: silver;
}

.right{
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: lightblue;
}

.information{
    border: 2px black solid;
    width: 500px;
    height: 600px;
    padding: 10px;
    text-align: center;
    margin: 12% auto;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

.state1, .state2, .state3, .state4, .state5{
    display: none;
}

.button{
    padding: 5px;
    position: relative;
    margin: 10px auto;
    width: 220px;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    height: 50px;
    text-decoration: none;
    border: black solid ;
}

.spaceShipWrapper{
    position: absolute;
    bottom: 0;
    left: 46%;
    transition: bottom 2000ms;
}

body.body-state3 .spaceShipWrapper,
body.body-state4 .spaceShipWrapper{
    bottom: 1000px;
}

.spaceShip{
    position: relative;
    width: 50%;
    height: 50%;
}

.ground{
    position: absolute;
    background-color: darkolivegreen;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 0;
}

